
/* = Global
-------------------------------------------------------------- */
	body {
		background:url(little_pluses/little_pluses.png); /*background found @ subtlepatterns.com*/
	}

	.container{
		width: 95%;
		margin-bottom: 20px;
	}

	#book {
		width: 420px;
		margin: 0 auto;
		margin-bottom: 50px;
		position: relative;
		-webkit-transition-duration: .5s;
		-moz-transition-duration: .5s;
		-ms-transition-duration: .5s;
		-o-transition-duration: .5s;
		transition-duration: .5s;
		-webkit-perspective: 2000px;
		-moz-perspective: 2000px;
		-ms-perspective: 2000px;
		-o-perspective: 2000px;
		perspective: 2000px;
	}
	.main {
		width: 420px;
		height: 560px;
		color: #92684F;
		position: relative;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transition-duration: .5s;
		-moz-transition-duration: .5s;
		-ms-transition-duration: .5s;
		-o-transition-duration: .5s;
		transition-duration: .5s;
	}

/* = Book Front
-------------------------------------------------------------- */
	.book-front{
		width:420px; height:560px;
		position:absolute; 
		top:0; 
		bottom:0;
		font-size:15px; 
		text-align:center;
		text-shadow:0 2px 0 rgba(30,35,45,1);
		box-shadow:inset 3px 0 10px rgba(0,0,0,0.1);
		z-index:10;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

		-webkit-transform-origin:0% 50%;
		-moz-transform-origin:0% 50%;
		-ms-transform-origin:0% 50%;
		-o-transform-origin:0% 50%;
		transform-origin:0% 50%;

		-webkit-transition-duration:.5s;
		-moz-transition-duration:.5s;
		-ms-transition-duration:.5s;
		-o-transition-duration:.5s;
		transition-duration:.5s;

		-webkit-transform:translate3d(0,0,25px);
		-moz-transform:translate3d(0,0,25px);
		-ms-transform:translate3d(0,0,25px);
		-o-transform:translate3d(0,0,25px);
		transform:translate3d(0,0,25px);
	}
	.book-cover{
		width:420px; height:560px;
		overflow:hidden;
		position:absolute; 
		top:0; 
		bottom:0;
		background: #29303A url(Front_Cover.jpg) 0 0 no-repeat;
		background-size: 420px 560px;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
	}
	.book-cover-back{
		width:420px; height:560px;
		position:absolute; 
		top:0; 
		bottom:0;
		background:#E6E3E3 url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=6);
		background-size: 420px 560px;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;

		-webkit-transform:rotate3d(0,1,0,-180deg);
		-moz-transform:rotate3d(0,1,0,-180deg);
		-ms-transform:rotate3d(0,1,0,-180deg);
		-o-transform:rotate3d(0,1,0,-180deg);
		transform:rotate3d(0,1,0,-180deg);
	}

/* = Book Page
-------------------------------------------------------------- */
	.book-page{
		width:415px; 
		height:550px;
		line-height:20px;
		position:absolute; 
		top:5px;
		box-shadow:inset 3px 0 10px rgba(0,0,0,0.1);

		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

		-webkit-transition-duration:.5s;
		-moz-transition-duration:.5s;
		-ms-transition-duration:.5s;
		-o-transition-duration:.5s;
		transition-duration:.5s;

		-webkit-transform:translate3d(0,0,24px);
		-moz-transform:translate3d(0,0,24px);
		-ms-transform:translate3d(0,0,24px);
		-o-transform:translate3d(0,0,24px);
		transform:translate3d(0,0,24px);

		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
	}

	.page{
		height:550px;
		overflow:hidden;
	}

	#page-1{
		background: #29303A url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=7) 0 0 no-repeat;
		background-size: 415px 550px;
	}

	#page-1-back{
		background: url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=8) 0 0 no-repeat;
		background-size: 415px 550px;
	}

	#page-2{
		background: url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=9) 0 0 no-repeat;
		background-size: 415px 550px;
		
	}

	#page-2-back{
		background: url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=10) 0 0 no-repeat;
		background-size: 415px 550px;
		
	}

	#page-3{
		background: url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=12) 0 0 no-repeat;
		background-size: 415px 550px;

	}

	#page-3-back{
		background: url(http://insight.randomhouse.com/fullpage.do?pContentType=JPG&pName=fullpage&pISBN=9780394823379&pPageID=13) 0 0 no-repeat;
		background-size: 415px 550px;

	}

	.book-page-back{
		background-color: #29303A;
		width:415px; 
		height:550px;
		line-height:20px;
		position:absolute; 
		top:5px;
		box-shadow:inset 3px 0 10px rgba(0,0,0,0.1);

		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

		-webkit-transition-duration:.5s;
		-moz-transition-duration:.5s;
		-ms-transition-duration:.5s;
		-o-transition-duration:.5s;
		transition-duration:.5s;

		-webkit-transform:translate3d(0,0,24px);
		-moz-transform:translate3d(0,0,24px);
		-ms-transform:translate3d(0,0,24px);
		-o-transform:translate3d(0,0,24px);
		transform:translate3d(0,0,24px);

		-webkit-transform:rotate3d(0,1,0,-180deg);
		-moz-transform:rotate3d(0,1,0,-180deg);
		-ms-transform:rotate3d(0,1,0,-180deg);
		-o-transform:rotate3d(0,1,0,-180deg);
		transform:rotate3d(0,1,0,-180deg);

		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
	}
/* = Book Back
-------------------------------------------------------------- */
	.book-back{
		width:420px;
		background:#29303A url(Back_Cover.jpg) 0 0 no-repeat;
		background-size: 420px 560px;
		position:absolute; top:0; bottom:0;
		color:white;
		-webkit-transform:rotate3d(0,1,0,-180deg) translate3d(0,0,25px);
		-moz-transform:rotate3d(0,1,0,-180deg) translate3d(0,0,25px);
		-ms-transform:rotate3d(0,1,0,-180deg) translate3d(0,0,25px);
		-o-transform:rotate3d(0,1,0,-180deg) translate3d(0,0,25px);
		transform:rotate3d(0,1,0,-180deg) translate3d(0,0,25px);
		z-index:8;
	}

/* = Book Bone
-------------------------------------------------------------- */
	.book-bone{
		width:50px;
		background: #A6E0F3;
		box-shadow:1px 0 0 #29303A,-1px 0 0 #29303A;
		position:absolute;
		top:0; bottom:0; left:-25px;
		-webkit-transform:rotate3d(0,1,0,-90deg);
		-moz-transform:rotate3d(0,1,0,-90deg);
		-ms-transform:rotate3d(0,1,0,-90deg);
		-o-transform:rotate3d(0,1,0,-90deg);
		transform:rotate3d(0,1,0,-90deg);
	}
	.book-bone h2{
		width:530px;
		height:50px; line-height:50px;
		font-size:14px; text-align:right;
		padding:0 15px;
		/*Sets the initial position of the element prior to rotation and translation
		without the origin placement the heading will not appear attached to the 'spine' of the book*/
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;

		-webkit-transform:rotate(90deg) translateY(-50px);
		-moz-transform:rotate(90deg) translateY(-50px);
		-ms-transform:rotate(90deg) translateY(-50px);
		-o-transform:rotate(90deg) translateY(-50px);
		transform:rotate(90deg) translateY(-50px);
	}

/* = Order
-------------------------------------------------------------- */
	.book-cover:after{
		content:"";
		width:3px;
		position:absolute; 
		top:0; 
		left:10px; 
		bottom:0;
		background:rgba(0,0,0,0.06);
		box-shadow:1px 0 3px rgba(255, 255, 255, 0.1);
	}

	.book-back:after{
		content:"";
		width:3px;
		position:absolute; 
		top:0; 
		right:10px; 
		bottom:0;
		background:rgba(0,0,0,0.06);
		box-shadow:1px 0 3px rgba(255, 255, 255, 0.1);
	}


	.book-page,.book-top,.book-right,.book-bottom{
		background:#EEEFE9;
	}

	.book-right{
		width:50px; height:550px;
		position:absolute; top:5px; right:-20px;
		box-shadow:0 1px 0 #EEEFE9,0 -1px 0 #EEEFE9;
		-webkit-transform:rotate3d(0,1,0,90deg);
		-moz-transform:rotate3d(0,1,0,90deg);
		-ms-transform:rotate3d(0,1,0,90deg);
		-o-transform:rotate3d(0,1,0,90deg);
		transform:rotate3d(0,1,0,90deg);
	}

	.book-top{
		width:415px; height:50px;
		position:absolute; 
		top:-20px; 
		left:0;
		-webkit-transform:rotate3d(1,0,0,90deg);
		-moz-transform:rotate3d(1,0,0,90deg);
		-ms-transform:rotate3d(1,0,0,90deg);
		-o-transform:rotate3d(1,0,0,90deg);
		transform:rotate3d(1,0,0,90deg);
	}

	.book-bottom{
		width:415px; height:50px;
		position:absolute; 
		bottom:-20px; 
		left:0;
		-webkit-transform:rotate3d(1,0,0,-90deg) translate3d(0,0,0);
		-moz-rotate3d(1,0,0,-90deg) translate3d(0,0,0);
		-ms-rotate3d(1,0,0,-90deg) translate3d(0,0,0);
		-o-rotate3d(1,0,0,-90deg) translate3d(0,0,0);
		rotate3d(1,0,0,-90deg) translate3d(0,0,0);
	}

	.book-right,.book-top,.book-bottom{
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		backface-visibility:hidden;
	}

/* = Flip
-------------------------------------------------------------- */
	/* Cover */
	.view-cover:hover .main{
		-webkit-transform:rotate3d(0,1,0,-40deg);
		-moz-transform:rotate3d(0,1,0,-40deg);
		-ms-transform:rotate3d(0,1,0,-40deg);
		-o-transform:rotate3d(0,1,0,-40deg);
		transform:rotate3d(0,1,0,-40deg);
	}
	/* Cover Back */
	.view-back .main{
		-webkit-transform:rotate3d(0,1,0,180deg);
		-moz-transform:rotate3d(0,1,0,180deg);
		-ms-transform:rotate3d(0,1,0,180deg);
		-o-transform:rotate3d(0,1,0,180deg);
		transform:rotate3d(0,1,0,180deg);
	}
	.view-back:hover .main{
		-webkit-transform:rotate3d(0,1,0,140deg);
		-moz-transform:rotate3d(0,1,0,140deg);
		-ms-transform:rotate3d(0,1,0,140deg);
		-o-transform:rotate3d(0,1,0,140deg);
		transform:rotate3d(0,1,0,140deg);
	}
	/* Open */
	.open-book{
		-webkit-transform:translate3d(50%,0,0);
		-moz-transform:translate3d(50%,0,0);
		-ms-transform:translate3d(50%,0,0);
		-o-transform:translate3d(50%,0,0);
		transform:translate3d(50%,0,0);
	}
	.open-book  .book-front{
		-webkit-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-moz-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-ms-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-o-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
	}
	
/*Controls the rotation of the book on hover when the book is in open state (i.e. #book has class open-book)*/
	.open-book:hover .main{
		-webkit-transform:rotate3d(1,1,0,5deg);
		-moz-transform:rotate3d(1,1,0,5deg);
		-ms-transform:rotate3d(1,1,0,5deg);
		-o-transform:rotate3d(1,1,0,5deg);
		transform:rotate3d(1,1,0,5deg);
	}


	/* View Right */
	.view-rotate .main{
		-webkit-transition-duration:5s;
		-moz-transition-duration:5s;
		-ms-transition-duration:5s;
		-o-transition-duration:5s;
		transition-duration:5s;

		-webkit-transform:rotate3d(0,1,0,360deg);
		-moz-transform:rotate3d(0,1,0,360deg);
		-ms-transform:rotate3d(0,1,0,360deg);
		-o-transform:rotate3d(0,1,0,360deg);
		transform:rotate3d(0,1,0,360deg);
	}
	.view-rotate:hover .main{
		-webkit-transition-duration:8s;
		-moz-transition-duration:8s;
		-ms-transition-duration:8s;
		-o-transition-duration:8s;
		transition-duration:8s;

		-webkit-transform:rotate3d(0,1,0,-360deg);
		-moz-transform:rotate3d(0,1,0,-360deg);
		-ms-transform:rotate3d(0,1,0,-360deg);
		-o-transform:rotate3d(0,1,0,-360deg);
		transform:rotate3d(0,1,0,-360deg);
	}

/* = Opt
-------------------------------------------------------------- */
	#opt{
		margin: 0 auto;
		margin-bottom: 10px;
		width:550px;
		line-height:30px;
		text-align:center;
		padding:10px 10px 5px 10px;
		background:rgba(255,255,255,0.4);
	}
	#opt:after{
		content:"";
		width:105%; 
		height:104%;
		position:absolute; 
		top:-4%; 
		left:-5%;
		border:4px solid rgba(255,255,255,0.3);
		z-index:-1;
	}
	#opt dt{
		width: 100%;
		margin-bottom:5px;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	#opt dd{
		display: inline;
		color:#999;
		cursor:pointer;
		background:rgba(170,170,170,0.1);
		margin: 10px;

	}
	#opt dd:hover{
		color:rgba(255,255,255,0.8);
		box-shadow:inset 2px 0 0 rgba(85,85,85,0.2);
		background:rgba(85,85,85,0.4);
	}
	#opt .cur{
		color:black;
		box-shadow:inset 2px 0 0 rgba(85,85,85,0.2);
		background:rgba(85,85,85,0.2);
	}

.page-flip{

	-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		transform-style:preserve-3d;

	-webkit-transition-duration: .5s;
		-moz-transition-duration: .5s;
		-ms-transition-duration: .5s;
		-o-transition-duration: .5s;
		transition-duration: .5s;

	-webkit-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;

	-webkit-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-moz-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-ms-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		-o-transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);
		transform:translate3d(0,0,25px) rotate3d(0,1,0,-160deg);


}

.visible-back-page{

		-webkit-transform:translate3d(0,-8px,-5px) rotate3d(0,1,0, 180deg);
		-moz-transform:translate3d(0,0,25px) rotate3d(0,1,0,160deg);
		-ms-transform:translate3d(0,0,25px) rotate3d(0,1,0,160deg);
		-o-transform:translate3d(0,0,25px) rotate3d(0,1,0,160deg);
		transform:translate3d(0,0,25px) rotate3d(0,1,0,160deg);

}

.right, .left{
	visibility: hidden;
}

/*.left{
	position: fixed;
	left: 0;
}*/

.right{
	position: fixed;
	right: 0;
	height: 90%;
	/*overflow: hidden;*/
}

#scroll-up{
	display: block;
	/*position: absolute;*/
	/*top:20px;*/
	width: 100%;
	height: 50px;
	background: url('http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/ultra-glossy-silver-buttons-icons-media/001663-ultra-glossy-silver-button-icon-media-media2-arrow-up.png') 0 0 no-repeat;
	background-size: 100% 50px;
	opacity: 0.5;
}

#scroll-down{
	display: block;
	width: 100%;
	height: 50px;
	background: url('http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/ultra-glossy-silver-buttons-icons-media/001662-ultra-glossy-silver-button-icon-media-media2-arrow-down.png') 0 0 no-repeat;
	background-size: 100% 50px;
	opacity: 0.5;
}

#thumbnail-container{
	min-width: 100px;
	min-height: 100px;
	margin-bottom: 10px;
	height: 73%;
	overflow: hidden;
}

.shifting-container{
	position: relative;
}

.thumbnail{
	display: block;
	margin: 10px auto;
	margin-right: 10px;
}

@media (min-width: 768px){
	.footer{
		visibility: visible;
	}
}

.footer{
	visibility: hidden;
}



/*Copyright for basic 3D book structure*/
/*!
* CSS3 3D图书展示 (3D Book Showcase)
* Copyright (c) 2013, 梦幻神化 
* http://www.bluesdream.com
*
* Create: 2013.01.28
* 
*/